.phpunit
.phpunit.result.cache
/coverage.xml
/.env.*.local
/.env.local
/.env.local.php
/.idea/
/config/jwt/*.pem
/config/secrets/prod/prod.decrypt.private.php
/database/
/node_modules/
/phpunit.xml
/public/assets/
/public/bundles/
/public/cache/
/public/index.html
/public/sitemap/
/public/upload/
/var/
/vendor/
