<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php" colors="true" convertDeprecationsToExceptions="false">
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>src/Command</directory>
            <directory>src/DataFixtures</directory>
            <directory>src/Migrations</directory>
            <directory>src/Repository</directory>
            <directory>src/Kernel.php</directory>
        </exclude>
    </coverage>
    <php>
        <ini name="error_reporting" value="-1"/>
        <server name="APP_ENV" value="test" force="true"/>
        <server name="SHELL_VERBOSITY" value="-1"/>
        <server name="SYMFONY_PHPUNIT_REMOVE" value=""/>
        <server name="SYMFONY_PHPUNIT_VERSION" value="9.5"/>
        <env name="DATABASE_URL" value="mysql://db_user:db_password@mysql:3306/db_name?serverVersion=8.0"/>
    </php>
    <testsuites>
        <testsuite name="unit">
            <directory suffix=".php">tests/Unit</directory>
        </testsuite>
    </testsuites>
    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
    </listeners>
</phpunit>
