.form-control[type=number] {
  // stylelint-disable plugin/no-unsupported-browser-features
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  // stylelint-enable plugin/no-unsupported-browser-features
}

[data-theme='dark'] {
  .form-control {
    color: $light;
  }
}
