.offcanvas .nav-link {
  color: $gray-700;

  &.active,
  &:hover {
    color: $gray-900;
  }
}

[data-theme='dark'] {
  .offcanvas {
    background: $dark;
    color: $light;

    .nav-link {
      color: $gray-300;

      &.active,
      &:hover {
        color: $gray-100;
      }
    }
  }
}
