$white: #fff;
$gray-100: #f6f8fa;
$gray-200: #dddfe2;
$gray-300: #c4c7c9;
$gray-400: #abaeb1;
$gray-500: #929599;
$gray-600: #797c80;
$gray-700: #606468;
$gray-800: #474b4f;
$gray-900: #2e3237;
$black: #000;

$blue: #0085ad;
$indigo: #005587;
$purple: #a51890;
$pink: #da1884;
$red: #cb2431;
$orange: #fe5000;
$yellow: #e1e000;
$green: #22863a;
$teal: #03b075;
$cyan: #00aec7;

$primary: $blue;
$secondary: $gray-500;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-300;
$dark: $gray-900;

$spacers: (
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 1rem,
  4: 1.25rem,
  5: 1.5rem,
);

$body-bg: $white;
$body-color: $gray-700;
$border-color: rgba($gray-500, 0.15);
$border-radius: 0.5rem;
$border-width: 1px;
$box-shadow: 3px 3px 5px rgba($dark, 0.125);
$btn-border-radius: 0.5rem;
$btn-border-radius-sm: 0.25rem;
$btn-padding-x: 0.625rem;
$btn-padding-x-sm: 0.25rem;
$btn-padding-y: 0.5rem;
$btn-padding-y-sm: 0.25rem;
$card-border-color: $border-color;
$card-title-spacer-y: 0.25rem;
$carousel-caption-width: 100%;
$container-padding-x: 1rem;
$dropdown-border-color: $border-color;
$dropdown-dark-bg: $dark;
$dropdown-dark-link-active-bg: none;
$dropdown-dark-link-active-color: $gray-100;
$dropdown-dark-link-color: $gray-300;
$dropdown-dark-link-disabled-color: $gray-500;
$dropdown-dark-link-hover-bg: none;
$dropdown-dark-link-hover-color: $gray-100;
$dropdown-link-active-bg: none;
$dropdown-link-active-color: $gray-900;
$dropdown-link-color: $gray-700;
$dropdown-link-disabled-color: $gray-500;
$dropdown-link-hover-bg: none;
$dropdown-link-hover-color: $gray-900;
$font-family-code: 'Fira Code', monospace;
$font-family-sans-serif: 'Fira Sans', sans-serif;
$font-size-base: 0.9375rem;
$font-weight-base: 400;
$font-weight-bold: 500;
$font-weight-bolder: 600;
$font-weight-light: 300;
$font-weight-lighter: 200;
$form-check-input-border: 1px solid $border-color;
$grid-gutter-width: 1rem;
$h1-font-size: 2em;
$h2-font-size: 1.75em;
$h3-font-size: 1.5em;
$h4-font-size: 1.25em;
$h5-font-size: 1em;
$h6-font-size: 0.875em;
$headings-color: $primary;
$headings-font-family: 'Heebo', sans-serif;
$headings-font-weight: 400;
$headings-line-height: 1.25;
$headings-margin-bottom: 1rem;
$hr-color: $border-color;
$hr-opacity: 1;
$input-bg: transparent;
$input-border-color: $border-color;
$input-placeholder-color: $gray-300;
$kbd-bg: $gray-200;
$kbd-color: $gray-900;
$kbd-font-size: 0.75rem;
$kbd-padding-x: 0.25rem;
$kbd-padding-y: 0.125rem;
$line-height-base: 1.3;
$link-decoration: none;
$min-contrast-ratio: 4.5;
$nav-link-disabled-color: $gray-500;
$nav-link-padding-y: 0.1875rem;
$navbar-dark-active-color: $gray-100;
$navbar-dark-brand-color: $primary;
$navbar-dark-brand-hover-color: $primary;
$navbar-dark-color: $gray-300;
$navbar-dark-disabled-color: $gray-500;
$navbar-dark-hover-color: $gray-100;
$navbar-light-active-color: $dark;
$navbar-light-brand-color: $primary;
$navbar-light-brand-hover-color: $primary;
$navbar-light-color: $gray-700;
$navbar-light-disabled-color: $gray-500;
$navbar-light-hover-color: $gray-900;
$navbar-light-toggler-border-color: $border-color;
$navbar-padding-y: 0.625rem;
$navbar-toggler-font-size: 1.625rem;
$pagination-border-color: $border-color;
$pagination-disabled-border-color: $border-color;
$pagination-disabled-color: $gray-500;
$pagination-hover-bg: $primary;
$pagination-hover-border-color: $border-color;
$pagination-hover-color: $gray-100;
$table-cell-padding-x-sm: 0.5rem;
$table-cell-padding-x: 0.5rem;
$table-cell-padding-y-sm: 0.3125rem;
$table-cell-padding-y: 0.5rem;
$table-color: inherit;
$table-th-font-weight: $font-weight-bold;
$text-muted: $gray-300;
$tooltip-bg: $gray-900;
$tooltip-color: $gray-100;
$tooltip-opacity: 1;
